<!DOCTYPE html>
<hmtl>
  <head>
    <meta charset="utf-8">
    <title>Portfolio page</title>
  </head>
  <body>
    {{> header}}
    <p>projects page text will be here</p>


    {{> footer}}
  </body>
</html>
